.personal-card {
  background-color: #f7f9fc;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: block;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

.personal-card h2 {
  color: #2c3e50;
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: capitalize;
  margin-right: auto;
}

.personal-card .button-group {
  display: flex;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.personal-card button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.personal-card button:hover {
  transform: translateY(-2px);
}

.personal-card .edit-button {
  background-color: #3498db;
  color: white;
}

.personal-card .delete-button {
  background-color: #e74c3c;
  color: white;
}

.personal-card .activate-button {
  background-color: #4CAF50;
  color: white;
}